/************* URL **************************
hp1.png - url("https://firebasestorage.googleapis.com/v0/b/cat2-ac7df.appspot.com/o/kapris%2Fhomepage%2Fhp1.png?alt=media&token=1d8e9e89-424c-4aeb-b709-2d304c03974a")

hp2.png - url("https://firebasestorage.googleapis.com/v0/b/cat2-ac7df.appspot.com/o/kapris%2Fhomepage%2Fhp2.jpg?alt=media&token=39ba9c81-0389-43dc-9d0d-8e80a405da1b")
*/
/************** Utilities ******************/
.btn {
  border: 1px solid black;
  border-radius: 50px;
  padding: 12px;
  text-align: center;
  font-size: 1.1rem;
  font-family: "Bigelow Rules";
}

.btn-large {
  width: 200px;
}

.btn-middle {
  width: 140px;
}

/****************   Slider-show   *****************/

.container-slider {
  margin: 2% auto;
  width: 80%;
  overflow: hidden;
}
.slider {
  overflow: hidden;
}
.slider figure {
  position: relative;
  width: 900%;

  height: 65vh;
  z-index: -2;
  margin: 0;
  left: 0;
  animation: 40s slider infinite;
}
.slider figure div {
  float: left;
  width: 11.1111111111111%;
  /* height: 100%;*/
}

.background-image-sl {
  cursor: pointer;
  content: "";
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
}

/* .sl {
  text-indent: -10000px;
}
.sl1 {
  background: url("img1/img1.jpg") no-repeat center;
}
.sl2 {
  background: url("img1/img2.jpg") no-repeat center;
}
.sl3 {
  background: url("img1/img3.jpg") no-repeat center;
}
.sl4 {
  background: url("img1/img4.jpg") no-repeat center;
}
.sl5 {
  background: url("img1/img5.jpg") no-repeat center;
} */
@keyframes slider {
  0% {
    left: 0;
  }
  10% {
    left: 0;
  }
  13% {
    left: -100%;
  }
  23% {
    left: -100%;
  }
  25% {
    left: -200%;
  }
  35% {
    left: -200%;
  }
  38% {
    left: -300%;
  }
  48% {
    left: -300%;
  }
  50% {
    left: -400%;
  }
  60% {
    left: -400%;
  }
  63% {
    left: -500%;
  }
  73% {
    left: -500%;
  }
  75% {
    left: -600%;
  }
  85% {
    left: -600%;
  }
  88% {
    left: -700%;
  }
  98% {
    left: -700%;
  }
  100% {
    left: -800%;
  }
}
.slider1 {
  overflow: hidden;
  position: relative;
  width: 900%;

  height: 15vh;
  z-index: -2;
  margin: 0;
  left: 0;
  animation: 40s slider infinite;
}
.par {
  float: left;
  width: 11.1111111111111%;
  height: 100%;
  background: white;
}
.par1 {
  font-size: 1.2rem;
}
.par2 {
  font-family: "Comfortaa";
  font-size: 2.2rem;
  margin-top: 0;
}
