body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Open Sans Condensed";
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/************* Homepage **********************/
.homepage {
  /* display: flex;
  flex-direction: column; */
  align-items: center;
  padding: 2% 7%;
}

/************** Directory *******************/
.directory-list-1 {
  width: 100%;
  height: 70vh;
  display: grid;
  grid-template-columns: 0.01% 99.99%;

  /*flex-wrap: wrap;*/
  justify-content: space-between;
}
/* .directory-menu {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
} */

.directory-list-title {
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 200%;
  margin: 20% auto;
}
/* .directory-page {
  display: flex;
  width: 100%;
  height: 70vh;
} */

/************** Menu-Item *******************/
.menu-item {
  width: 100%;
  height: 100%;
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  margin: 0 7.5px 15px;
  overflow: hidden;
}
.menu-item:hover {
  cursor: pointer;
}
.menu-item:hover .background-image {
  transform: scale(1.1);
  transition: transform 6s cubic-bezier(0.25, 0.45, 0.45, 0.95);
}

.menu-item:hover .content {
  opacity: 0.9;
}

.menu-item.xxxl-img {
  height: 70vh;
  width: 100vw;
  background-position: center;
  background-size: cover;
}
.menu-item.l-img {
  height: 100%;
  width: 100%;
  background-position: center;
  background-size: cover;
}

.menu-item:first-child {
  margin-right: 7.5px;
}
.menu-item:last-child {
  margin-left: 7.5px;
}

.menu-item .background-image {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
}

.menu-item .content {
  height: 90px;
  padding: 0 1%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  background-color: white;
  opacity: 0.7;
  position: absolute;
}
.menu-item .content .title {
  font-weight: bold;
  margin-bottom: 6px;
  font-size: 22px;
  color: #4a4a4a;
}
.menu-item .content .subtitle {
  font-weight: lighter;
  font-size: 16px;
}
